<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>HotelWebApp</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Add Reservation -->
    <servlet>
        <servlet-name>AddReservationServlet</servlet-name>
        <servlet-class>com.servlet.AddReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReservationServlet</servlet-name>
        <url-pattern>/AddReservation</url-pattern>
    </servlet-mapping>

    <!-- Update Reservation -->
    <servlet>
        <servlet-name>UpdateReservationServlet</servlet-name>
        <servlet-class>com.servlet.UpdateReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateReservationServlet</servlet-name>
        <url-pattern>/UpdateReservation</url-pattern>
    </servlet-mapping>

    <!-- Delete Reservation -->
    <servlet>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <servlet-class>com.servlet.DeleteReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReservationServlet</servlet-name>
        <url-pattern>/DeleteReservation</url-pattern>
    </servlet-mapping>

    <!-- Display Reservations -->
    <servlet>
        <servlet-name>DisplayReservationsServlet</servlet-name>
        <servlet-class>com.servlet.DisplayReservationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayReservationsServlet</servlet-name>
        <url-pattern>/DisplayReservations</url-pattern>
    </servlet-mapping>

    <!-- Report Criteria -->
    <servlet>
        <servlet-name>ReportCriteriaServlet</servlet-name>
        <servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportCriteriaServlet</servlet-name>
        <url-pattern>/ReportCriteria</url-pattern>
    </servlet-mapping>

    <!-- Report -->
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>

</web-app>
